In [1]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("weather_replace.csv",na_values=-99999)

In [3]:
data

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [4]:
data.isnull().any(axis=0)

day            False
temperature     True
windspeed       True
event          False
dtype: bool

In [5]:
a=data["temperature"].mean()
data["temperature"].fillna(a,inplace=True)

In [6]:
b=data["windspeed"].mean()
data["windspeed"].fillna(b,inplace=True)

In [7]:
data

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         31.4        7.0  Sunny
2  1/3/2017         28.0        5.4   Snow
3  1/4/2017         31.4        7.0      0
4  1/5/2017         32.0        5.4   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [8]:
d1=data.replace(["Rain","Sunny","Snow","0"],[1,2,3,4])

In [9]:
x=d1.drop(["event","day"],axis=1)
y=d1["event"]

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
model=LogisticRegression()

In [12]:
model.fit(x,y)

C:\Users\Mubashir\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
model.score(x,y)

0.7142857142857143

In [14]:
model.predict([[78,9]])

C:\Users\Mubashir\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([4], dtype=int64)