In [ ]:
a="FUTURA"
b="Lab"
print(a)
print(b)

FUTURA
Lab

In [ ]:
a="futura"
print(a[0])
print(a[-1])

f
a

In [ ]:
a="jumana"
b=" azi"
print(a+ b)

jumana azi

In [ ]:
len(a)

6

In [ ]:
a="futura lab"
print(a[1:-1])

utura la

In [ ]:
print(a[:3])

fut

In [ ]:
print(a[6:])

 lab

In [ ]:
b="Python is a programming language that lets you work quickly and integrate systems more effectively"
print(b.upper())

PYTHON IS A PROGRAMMING LANGUAGE THAT LETS YOU WORK QUICKLY AND INTEGRATE SYSTEMS MORE EFFECTIVELY

In [ ]:
print(b.lower())

python is a programming language that lets you work quickly and integrate systems more effectively

In [ ]:
print(b.replace("a","*"))

Python is * progr*mming l*ngu*ge th*t lets you work quickly *nd integr*te systems more effectively

In [ ]:
b="Python is a programming language that lets you work quickly and integrate systems more effectively"
if "you"in b:
  print("found")
else:
  print("no")

found

In [ ]:
#sum all the numbers in list
a=[1,2,3,3,4]
result=0
for i in a:
  result=result+i
print(result)

13

In [ ]:
#multiply all the numbers in list
a=[1,2,3,45]
result=1
for i in a:
  result=result*i
print (result)

270

In [ ]:

#list to tuple
a=[1,2,3,4]
b=tuple(a)
print(b)

(1, 2, 3, 4)

In [ ]:
#tuple to string
a=("j","u")
b=str(a)
print(b)

('j', 'u')

In [ ]:
#create a list with type of fruits with size four 

a=["apple","banana","kivi","mango"]

In [ ]:
#create a list of vegetables with size 3
b=["tomato","potato","chilly"]

In [ ]:
#insert cat to list of index 3
a.insert(3,"cat")
print(a)

['apple', 'banana', 'kivi', 'cat', 'mango']

In [ ]:
#append fruit list to veg list
b.append("mango")
print(b)

['tomato', 'potato', 'chilly', 'mango']

In [ ]:
#descending order
b=["tomato","potato","chilly"]
b.sort(reverse=True)
print(b)

['tomato', 'potato', 'chilly']

In [ ]:
#ascending order
a=["apple","banana","kivi","mango"]
a.sort
print(a)

['apple', 'banana', 'kivi', 'mango']

In [ ]:
#make copy of fruit list
b=a.copy()
print(b)

['apple', 'banana', 'kivi', 'mango']

In [ ]:
#reverse the veg list
print(b[::-1])

['mango', 'kivi', 'banana', 'apple']

In [ ]:
#tasks:
#1 program to interchange first and last elements in a list
def swapList(newlist):
 a[0],a[-1]=a[-1],a[0]
newList=[1,2,3,4]
swapList('newlist')
print("newlist")

newlist

In [ ]:
#to find the smallest number in list
a=[1,2,34,5]
print("the smallest number is ",min(a))

the smallest number is  1

In [ ]:
#program to find even numbers in the list
a=[1,2,3,44,55]
for i in a:
  if i%2==0:
    print("even number is",i)

even number is 2
even number is 44

In [ ]:
#odd number
a=[1,2,3,44,55]
for i in a:
  if i%2==1:
    print("0dd number ",i)

0dd number  1
0dd number  3
0dd number  55

In [ ]:
#5 positive number
a=[1,-1,-3,-55,6]
for i in a:
  if i>0:
    print("positive number ",i)

positive number  1
positive number  6

In [ ]:
#6 negative number from the list
a=[1,-1,-3,-55,6]
for i in a:
  if i<0:
    print("negative number ",i)

negative number  -1
negative number  -3
negative number  -55

In [ ]:
#7 program to convert farenheit to celcius

In [ ]:
#8 python program to print maximum and min number in a tuple
a=(1,2,3,4,5)
print(max(a))
print(min(a))

5
1

In [ ]:
#9 write a python program to convert list to tuple
a=[3,4,5,6,7]
b=tuple(a)
print(b)

(3, 4, 5, 6, 7)

In [ ]:
#write a python program to create a list and do the following
a=[1,2,3,4,5,77]
#append and extend
a.append(24)
print(a)

[1, 2, 3, 4, 5, 77, 24]

In [ ]:
a.extend("my")
print(a)

[1, 2, 3, 4, 5, 77, 24, 'm', 'y']

In [ ]:
len(a)

In [ ]:
#membership in/notin
a
if "1" in a:
  print("yes")
else:
  print("no")

no

In [ ]:
a=['banana','apple','mango']
#print('banana' in a)
print("mango"not in a)

False

In [ ]:
#dictionary
a={'jumana':12,'saju':25,'safna':23}
print(a.keys())
print(a.values())

dict_keys(['jumana', 'saju', 'safna'])
dict_values([12, 25, 23])

In [ ]:
for i in a:
  print(i)
  print(a[i])

jumana
12
saju
25
safna
23

In [ ]:
#if else,while loop etc
#print factorial of a number
a=int(input("enter a number"))
factorial=1
while(a):
  factorial=factorial*a
  a=a-1
print(factorial)

enter a number2
2

In [ ]:
#enter the pattern using nested loop
#1
#12
#123
num=int(input('enter the rows '))
for i in range(num):
 for j in range(i+1):
  print(j+1,end=" ")
 print()

enter the rows 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#print first 10 natural numbers
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while loop
i=1
while i<11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#program which appends square of a number to another list
a=int(input('enter a number'))
c=[]
c.append(a**2)
print(c)

enter a number5
[25]

In [ ]:
#print list in a reverse order using loop
a=[1,2,3,4]
for i in a:
 b=a[::-1]
print(b)

[4, 3, 2, 1]

In [ ]:
#star patterns
n=int(input("enter the rows"))
for i in range(n):
 for j in range(i+1):
  print("* ",end=" ")
 print()

enter the rows6
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [ ]:
#     *
#    **
#   ***
#  ****
# *****  
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
#      *
#     ***
#    *****
#   *******
n=5
for i in range(n):
  for j in range(0,n-i-1):
    print('',end=" ")
  for j in range(0,i+1):
    print('*',end=" ")
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#functions
#find the reverse of a number using function
def reverse(num):
  b=str(num)[::-1]
  return b
num=int(input('enter a number'))
reverse(num)

enter a number23

'32'

In [ ]:
#define a function which accepts radius and returns the area of a circle
def area(r):
  area=(22/7)*(r**2)
  print("area of cicle",area)
a=int(input("enter radius "))
area(a)

enter radius 44
area of cicle 6084.571428571428

In [ ]:
#accepts 2 numbers and returns sum ,sub,multiplication
def operation(x,y):
  return x+y,x-y,x*y
operation(3,4)

(7, -1, 12)

In [ ]:
#Define a function which counts vowels and consonant in a word.
def vowcons(str):
  vowel=0
  consonant=0
  str.lower()
  for i in str:
    if i in ("a","e","i","o","u"):
     vowel=vowel+1
    else:
     consonant=consonant+1
  print("total consonant =",consonant)
  print("total vowels =",vowel)
a="pythonfutura"
vowcons(a)

total consonant = 8
total vowels = 4

In [ ]:
class Demo:
    def __new__(self):
        self.__init__(self)
        print("Demo's __new__() invoked")
    def __init__(self):
        print("Demo's __init__() invoked")
class Derived_Demo(Demo):
    def __new__(self):
        print("Derived_Demo's __new__() invoked")
    def __init__(self):
        print("Derived_Demo's __init__() invoked")
def main():
    obj1 = Derived_Demo()
    obj2 = Demo()
main()

Derived_Demo's __new__() invoked
Demo's __init__() invoked
Demo's __new__() invoked

In [ ]:
def pallindrome(n):
  reverse=0
  reminder=0
  while(n!=0):
    reminder=n%10
    reverse=reverse*10+reminder
    n//10
    return reverse
    num=int(input("input is ="))
    reverse=pallindrome(num)
    if num==reverse:
        print("true,pallindrome")
    else:
       print("false,not pallindrome")

In [ ]:
def pallindrome(string):
  if string==string[::-1]:
    print("pallindrome")
  else:
    print("not pallindrome")
a=input("enter a choice")
pallindrome(a)

enter a choice121
pallindrome

In [ ]:
num = int(input("input is ="))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
    if num==reversed_num:
     print("true")
    # else:
    #   print("false")
    #   break