In [13]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB
data=pd.read_csv("titanic.csv",usecols=[2,3,4,11])
data.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Length: 891, dtype: bool

In [21]:
data1=data.interpolate()

In [20]:
from sklearn.preprocessing import LabelEncoder
Label=LabelEncoder()
sex=Label.fit_transform(data1["Sex"])
data1["Sex"]=sex

In [22]:
data1

     Pclass  Sex   Age  Survived
0         3    1  22.0         0
1         1    0  38.0         1
2         3    0  26.0         1
3         1    0  35.0         1
4         3    1  35.0         0
..      ...  ...   ...       ...
886       2    1  27.0         0
887       1    0  19.0         1
888       3    0  22.5         0
889       1    1  26.0         1
890       3    1  32.0         0

[891 rows x 4 columns]

In [23]:
x=data1.drop(["Survived"],axis=1)
y=data1["Survived"]

In [24]:
from sklearn.model_selection import cross_val_score
models={"gaussian":GaussianNB(),"bernaulli":BernoulliNB(),"multinomial":MultinomialNB()}
for i in models:
    model=models[i]
    scores=cross_val_score(model,x,y,cv=5)
    print(i,scores.mean())

gaussian 0.7845081915761722
bernaulli 0.7867365513778168
multinomial 0.6992467516163454

In [27]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=.8,random_state=1)
model=BernoulliNB()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.776536312849162