In [20]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [21]:
data=pd.read_csv("titanic.csv",usecols=[2,3,4,11])

In [22]:
data

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female   NaN         0
889       1    male  26.0         1
890       3    male  32.0         0

[891 rows x 4 columns]

In [23]:
data.isnull().any(axis=0)

Pclass      False
Sex         False
Age          True
Survived    False
dtype: bool

In [24]:
# data=data.interpolate()=to fill nan values witha value without speifically giving mean or ffill or bfill
a=data["Age"].mean()

In [25]:
data["Age"].fillna(a,inplace=True)

In [26]:
data

     Pclass     Sex        Age  Survived
0         3    male  22.000000         0
1         1  female  38.000000         1
2         3  female  26.000000         1
3         1  female  35.000000         1
4         3    male  35.000000         0
..      ...     ...        ...       ...
886       2    male  27.000000         0
887       1  female  19.000000         1
888       3  female  29.699118         0
889       1    male  26.000000         1
890       3    male  32.000000         0

[891 rows x 4 columns]

In [27]:
# use label encoder
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [28]:
Sex=label.fit_transform(data["Sex"])

In [29]:
data["Sex"]=Sex

In [30]:
data

     Pclass  Sex        Age  Survived
0         3    1  22.000000         0
1         1    0  38.000000         1
2         3    0  26.000000         1
3         1    0  35.000000         1
4         3    1  35.000000         0
..      ...  ...        ...       ...
886       2    1  27.000000         0
887       1    0  19.000000         1
888       3    0  29.699118         0
889       1    1  26.000000         1
890       3    1  32.000000         0

[891 rows x 4 columns]

In [31]:
x=data.drop(["Survived"],axis=1)
y=data["Survived"]

In [36]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=.8,random_state=1)

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
model=RandomForestClassifier(n_estimators=100)

In [39]:
model.fit(xtrain,ytrain)

RandomForestClassifier()

In [40]:
model.score(xtest,ytest)

0.7821229050279329

In [41]:
model.predict([[3,1,29.0000]])

array([0], dtype=int64)