In [186]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [187]:
data=pd.read_csv("weather_replace.csv",na_values=-99999)

In [188]:
data

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [189]:
data.isnull().any(axis=0)

day            False
temperature     True
windspeed       True
event          False
dtype: bool

In [190]:
# data.fillna(3,inplace=True)
# data

In [191]:

 a=data["temperature"].mean()
data["temperature"].fillna(a,inplace=True)

In [192]:
b=data["windspeed"].mean()
data["windspeed"].fillna(b,inplace=True)

In [193]:
# data.fillna(method="bfill")
# data.fillna(method="ffill")

In [194]:
data

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         31.4        7.0  Sunny
2  1/3/2017         28.0        5.4   Snow
3  1/4/2017         31.4        7.0      0
4  1/5/2017         32.0        5.4   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [195]:
d1=pd.get_dummies(data["event"])

# data=pd.concat([data,d1],axis=1)

In [196]:
d1

   0  Rain  Snow  Sunny
0  0     1     0      0
1  0     0     0      1
2  0     0     1      0
3  1     0     0      0
4  0     1     0      0
5  0     0     0      1
6  1     0     0      0

In [197]:
data=pd.concat([data,d1],axis=1)

In [198]:
data.drop(["event","day"],axis=1,inplace=True)

In [199]:
x=data.drop(["temperature"],axis=1)
y=data["temperature"]

In [200]:
from sklearn.linear_model import LinearRegression

In [201]:
model=LinearRegression()

In [202]:
model.fit(x,y)

LinearRegression()

In [203]:
model.score(x,y)

0.8288743188010894

In [205]:
model.predict([[6,0,1,0,0]])

C:\Users\Mubashir\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([31.96730245])