In [ ]:
#while loop

In [ ]:








i=1
while i<6:
 print(i)
 i=i+1

1
2
3
4
5

In [ ]:
i=1
while i<10:
  print(i)
  if i==3:
    break
  i=i+1

1
2
3

In [ ]:
i=1
while i<10:
  i=i+1
  if i==7:
    continue
  print(i)

2
3
4
5
6
8
9
10

In [ ]:


while True:
  a=input("enter your name")
  if i=="End":
   break
 print("iam done")

enter your namejum
enter your nameend
enter your nameEnd

KeyboardInterrupt: ignored

In [ ]:
#for loop

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
a=[]
b=[]
f=["apple","mango","banana"]
e=input("enter a fruit")
for i in f:
  if i in e:
    a.append(f)
    break
  else:
    b.append(f)
    break
print(a)
print(b)

enter a fruitkivi
[]
[['apple', 'mango', 'banana']]

In [ ]:
s=["jum","azim","isha"]
d=input("enter a name")
for i in s:
  if d in i:
    print("yes")
    break
  else:
    print("no")
    break

enter a nameazim
no

In [ ]:
for i in range(1,17):
  if i%2==0:
    print("even number",i)
  else:
    print("odd number",i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16

In [ ]:
a=[12,22,13,31,40]
for i in a:
  if i%2==0:
    print("even number",i)
  else:
    print("odd number",i)

even number 12
even number 22
odd number 13
odd number 31
even number 40

In [ ]:
a=[]
b=[]
for i in range(22,50):
  if i%2==0:
    a.append(i)
  else:
    b.append(i)
print("even number",a)
print("odd number",b)

even number [22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
odd number [23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
for i in range(1,6):
  if i%2==1:
    print("odd number",i)
  else:
    print("even number",i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
b=input('eneter a item')
newlist = []
for i in fruits:
  if b in i:
    newlist.append(i)
print(newlist)

eneter a itemkiwi
['kiwi']

In [ ]:
c=["j","i"]
d=["u","m"]
e=i+j
f=[]
g=input("enter a letter")
for i in c and j in 
  if g in i:
    f.append(i)
    print(i)
    break
  else:
    print()
    break

In [ ]:
a=[1,"jum",20.2,"saju"]
b=[]
for i in a:
    b.append(type(i))
print(b)

[<class 'int'>, <class 'str'>, <class 'float'>, <class 'str'>]

In [ ]:
a=[-1,-2,-4,4,6]
b=[]
for i in a:
  if i>0:
    b.append(i)
print(b)

[4, 6]

In [ ]:
a=[1,2,3,4]
b=[]
for i in a:
  b.append(i**4)
print(b)

[1, 16, 81, 256]

In [ ]:
while True:
  a=input("enter a name")
  if a=="end":
    break
print("iam done")

enter a namejum
enter a namejum
enter a nameend
iam done

In [ ]:
a=int(input("enter a number"))
if(a==0 or a<0):
  print("enter a positive number")
else:
  factorial=1
while(a):
  factorial=factorial*a
  a=a-1
print(f"{factorial}")

enter a number19
121645100408832000

In [ ]:
a=[1,66,-8,-78,56]
for i in a:
  if i>0:
    print("positive number",i)
  else:
    print("negative number",i)

positive number 1
positive number 66
negative number -8
negative number -78
positive number 56

In [ ]:
b=[22,33,44,55,66,77]
for i in b:
  if i%2==0:
    print("even number",i)
  else:
    print("odd number",i)

even number 22
odd number 33
even number 44
odd number 55
even number 66
odd number 77

In [ ]:
a=int(input("enter a number"))
for i in range(1,8):
  multiple=a*i
  print(multiple)
  i=i+1

enter a number7
7
14
21
28
35
42
49

In [ ]:
a="apple is a fruit"
b=a[::-1]
print(b)

tiurf a si elppa

In [ ]:
a=["jumna",1,5,"now"]
for i in reversed(a):
  print(i)

now
5
1
jumna

In [ ]:
a=["jumana"]
for i in reversed(a):
  print(i)

jumana

In [ ]:
for i in reversed(range(20,31)):
  print(i)

30
29
28
27
26
25
24
23
22
21
20

In [ ]:
a=[1,2,3,4,5,6]
for i in reversed(a):
 print(i,end=" ")

6 5 4 3 2 1

In [ ]:
a={0:10,1:20}
a[2]=30
a

{0: 10, 1: 20, 2: 30}

In [ ]:
a=[1,2,3,4,5]
a[0]=6
a[4]=7
a

[6, 2, 3, 4, 7]

In [ ]:
c={1,2,3,4}
c.update(["a",6,7])
c

{1, 2, 3, 4, 6, 7, 'a'}

In [ ]:
a=150
b=300
c=2500
d=2
e=a+b+c+d
print(e)

2952

In [ ]:
d=("apple","banana","cherrry")
d[(2)]

'cherrry'

In [ ]:
list=["A","B","C","J","E","F","G","H"]
list.pop(3)
print(list)

['A', 'B', 'C', 'E', 'F', 'G', 'H']

In [ ]:
list1=["name","age","address","class"]
list1.insert(3,"gender")
list1

['name', 'age', 'address', 'gender', 'class']

In [ ]:
a="hello"
b="welcome"
c="to"
d="data"
e="world"
f=2021
r=a+" "+b+" "+c+" "+d+" "+e+" "+str(f)
print(r)

hello welcome to data world 2021

In [ ]:
a={"jumana":100,"saju":90}
a["azi"]=5
a[4]=7
a[7]=8
a

{4: 7, 7: 8, 'azi': 5, 'jumana': 100, 'saju': 90}

In [ ]:
a={1,2,3}
v={4,5,7}
a.union(v)

{1, 2, 3, 4, 5, 7}

In [ ]:
#1
numlist=[2385,8786,3435,7765]
for i in numlist:
  if i %2==0:
    print("even number",i)
  else:
    print("odd number",i)

odd number 2385
even number 8786
odd number 3435
odd number 7765

In [ ]:
#2
dict1={"name":"john","age":26,"address":"kochi"}
for i in dict1:
  print(dict1[i])

john
26
kochi

In [ ]:
#3
a=int(input("enter a nmber"))
for i in range(1,11):
  multiple=a*i
  print(a,"x",i,"=",multiple)

enter a nmber6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
#4
for i in range(10):
  print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
#5
a=input("enter a string =")
c=0
d=0
for i in a:
  if i.isdigit():
    c=c+1
  elif i.isalpha():
    d=d+1
  else:
    pass
print(c,"digit")
print(d,"letter")

enter a string =77
2 digit
0 letter

In [ ]:
#6

b=["a","i","e","o","u"]
a=input("enter a string")
c=[]
for i in b:
  if i in a:
    c.append(i)
print(len(c),c)

enter a stringjumana
2 ['a', 'u']

In [ ]:
#7
a=int(input("enter a number"))
r=0
while a!=0:
  b=a%10
  r=r*10+b
  a//=10
print(r)

enter a number876
678

In [ ]:
#8
a=input("enter a string=")
if(a[0]==a[-1]):
  print("yes")
else:
  print("no")

enter a string=juuj
yes

In [ ]:
#9
a=input("enter astring=")
result=False
for i in a:
 if i.isupper():
   result=True
 elif i.islower():
   result=False
   break
print(result)

enter astring=jumana
False

In [ ]:

a=[1,2,3,44]
multiple=1
for i in a:
  multiple=multiple*i
print(multiple)

264

In [ ]:
a=input("enter astring=")
c=[]
d=[]
for i in a:
 if i.isupper():
   c.append(i)
 elif i.islower():
   d.append(i)
print(d,"lowercase letters")
print(c,"uppercase letters")

enter astring=mYNAme
['m', 'm', 'e'] lowercase letters
['Y', 'N', 'A'] uppercase letters

In [ ]:
a=input("enter a string")
even=[]
odd=[]
for i in range(0,len(a)):
   if i%2:
     even.append(a[i])
   else:
     odd.append(a[i])
print("even position",even)
print("odd position",odd)

enter a stringjumana
even position ['u', 'a', 'a']
odd position ['j', 'm', 'n']

In [ ]:
a=input("enter a sentence")
list1=a.split()
even=[]
odd=[]
for i in range(0,len(list1)):
  if i%2:
   even.append(list1[i])
  else:
    odd.append(list1[i])
print("even word",even)
print("odd word",odd)

enter a sentencemy name is
even word ['name']
odd word ['my', 'is']

In [ ]:
a=input("enter a sentence")
list1=a.split()
even=[]
odd=[]
for i in range(0,len(list1)):
  if i%2:
   even.append(list1[i])
  else:
    odd.append(list1[i].upper())
print("even word",even)
print("odd word",odd)

enter a sentencemy Name is
even word ['Name']
odd word ['MY', 'IS']

In [ ]:
a=input("enter a string=")
digit=0
letter=0
for i in a:
  if i.isdigit():
    digit=digit+1
  elif i.isalpha():
    letter=letter+1
  else:
    pass
print("digit is",digit)
print("letter is",letter)

enter a string=python.32
digit is 2
letter is 6

In [ ]:
num=int(input("enter rows"))
for i in range(1,num+1):
  print("* "*i)
for i in range(num-1,0,-1):
  print("* "*i)

enter rows5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input("enter rows"))
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()
for i in range(n):
  for j in range(i,n-1):
    print("*",end=" ")
  print()

enter rows5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:

for row in range(3):
  for col in range(5):
    if(row==0 or col==2):
      print("*")
    elif((row==1 and col==1)or(row ==1 and col==3)):
      print("*")
    elif((row==2 and col==0)or(row==2 and col==3)):
      print("*")
  print()

*
*
*
*
*

*
*
*

*
*
*

In [ ]:
num=int(input("enter rows="))
for i in range(num):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

enter rows=6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
num=int(input("enter rows"))
for i in range(num):
  for j in range(i+1):
    print("* ",end=" ")
  print()

enter rows6
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [ ]:
num=int(input("enter rows"))
for i in range(0,num+1):
  print("* "*i)

enter rows5

*
* *
* * *
* * * *
* * * * *

In [ ]:
num=int(input("enter the rows"))
for i in range(num-1,0,-1):
     print("* "*i)

enter the rows6
* * * * *
* * * *
* * *
* *
*

In [ ]:
#or
num=int(input("enter the rows"))
for i in range(num):
  for j in range(i,num):
    print("* ",end=" ")
  print()

enter the rows6
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
a=[67,44,5,6,3]
for i in reversed(a):
  print(i,end=" ")

3 6 5 44 67

In [ ]:
a=[1,2,3,4,5,6]
b=[]
for i in a:
  b.append(i**2)
print(b)

[1, 4, 9, 16, 25, 36]

In [ ]:
i=1
while(i<=10):
  print(i)
  i=i+1
  if i==11:
    break

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=int(input("enter rows="))
for i in range(0,num):
  for j in range(0,i+1):
    print("*",end=" ")
  print(end=" ")

enter rows=5
*  * *  * * *  * * * *  * * * * *

In [ ]:

for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
for i in range(1,11):
  if i%2==0:
    print(i,"is even")
  else:
    print(i,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
even=[]
odd=[]
for i in range(1,51):
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print("even=",even)
print("odd=",odd)

even= [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
odd= [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
c=[]
for i in range(20,40):
  if i%3==0:
    c.append(i)
print(len(c))

7

In [ ]:
c=[]
d=[]
for i in range(1,101):
  if i%12==0:
    c.append(i)
for i in c:
  if i%14==0:
    d.append(i)
print(c)
print(d)

[12, 24, 36, 48, 60, 72, 84, 96]
[84]

In [ ]:
num=int(input("enter a number"))
for i in range(2,num):
  if(num%i==0):
    print(i,"the number is nonprime")
    break
  else:
    print(i,"prime number")
    break

enter a number5
2 prime number

In [ ]:
a=input("enter your userneme")
b=input("enter your password")
username=["arun","athul","jithin"]
password=["a123","athul4","jithin39"]
if
  print("welcome")
else:
  print("invalid username")

enter your usernemearu
enter your passworda123
welcome

In [ ]:
a=["arun","athul","jithin"]
b=["a123","athul4","jithin39"]
name=input("enter the username")
if name in a:
   pass_wd=input("enter your password")
   ind=a.index(name)
   if pass_wd in b and ind==b.index(pass_wd):
      print("welcome")
   else:
     print("incorrect password")
else:
 print("invalid user")

enter the usernamejum
invalid user

In [ ]:
a={"athul":16,"arun":19,"jum":20,"saju":15,"azi":14}

In [ ]:
print(a.keys())

dict_keys(['athul', 'arun', 'jum', 'saju', 'azi'])

In [ ]:
print(a.values())

dict_values([16, 19, 20, 15, 14])

In [ ]:
print(a.__getitem__("athul"))

16

In [ ]:
#a.update({})
a["jumana"]=20
print(a)

{'athul': 16, 'arun': 19, 'jum': 20, 'saju': 15, 'azi': 14, 'jumana': 20}

In [ ]:
a.__setitem__("roshan",25)
print(a)

{'athul': 16, 'arun': 19, 'jum': 20, 'saju': 15, 'azi': 14, 'jumana': 25, 'roshan': 25}

In [ ]:
a.__setitem__("roshan",25)
print(a)

{'athul': 16, 'arun': 19, 'jum': 20, 'saju': 15, 'azi': 14, 'jumana': 25, 'roshan': 25}

In [ ]:
print(a.popitem())

('azi', 14)

In [ ]:
print(a)

{'athul': 16, 'arun': 19, 'jum': 20, 'saju': 15}

In [ ]:
a.pop("athul")
print(a)

{'arun': 19, 'jum': 20, 'saju': 15}

In [ ]:
c={}
for i in range(5):
 a=input("enter your name")
 b=int(input("enter your age"))
 c.__setitem__(a,b)
print(c)

enter your namejumana
enter your age26
enter your nameazi
enter your age3
enter your nameisha
enter your age2
enter your namesaju
enter your age10
enter your namesaf
enter your age22
{'jumana': 26, 'azi': 3, 'isha': 2, 'saju': 10, 'saf': 22}

In [ ]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

In [ ]:
print(dict.__getitem__("born"))

-427

In [ ]:
dict.__setitem__("born",428)
print(dict)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': 428, 'teacher': 'Socrates', 'student': 'Aristotle'}

In [ ]:
dict.__setitem__("work","Apology")
print(dict)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': 428, 'teacher': 'Socrates', 'student': 'Aristotle', 'work': 'Apology'}

In [ ]:
a="1234"
print(a.isnumeric())

True

In [ ]:
a="abcd"
print(a.isnumeric())

False

In [ ]:
a="welcome to python class"
print(a.startswith("w"))

True

In [ ]:
print(a.upper())

WELCOME TO PYTHON CLASS

In [ ]:
print(a.lower())

welcome to python class

In [ ]:
count=0
for i in a:
  if "o"in i:
    count=count+1
print(count)

3

In [ ]:
#or
print(a.count("o"))

3

In [ ]:
print(a.index("o"))

4

In [ ]:
#or
print(a.find("o"))

4

In [ ]:
print(a.replace("python","java"))

welcome to java class

In [ ]:
print(a)

welcome to python class

In [ ]:
print(a.lstrip())

welcome to python class

In [ ]:
print(a.split("python"))

['welcome to ', ' class']

In [ ]:
#
a=input("enter a  name")
if a.startswith("p") or a.startswith("P"):
 print("welcome")
else:
  print("no")

enter a  namepython
welcome

In [ ]:

a=["a","e","i","o","u"]
b="welcome to python class we are python developers"
c=[]
for i in b:
  if i in a:
    c.append(i)
print(len(c),c)

14 ['e', 'o', 'e', 'o', 'o', 'a', 'e', 'a', 'e', 'o', 'e', 'e', 'o', 'e']

In [ ]:

b="welcome to python class we are python developers"
vowels=["a","e","i","o","u","A","E","I","O","U"]
count=0
for i in vowels:
  count=count+b.count(i)
print(count)

14

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
tuple2=("abc","abc","cherry","cherry")
print(tuple2)

('abc', 'abc', 'cherry', 'cherry')

In [ ]:
print(len(tuple2))

4

In [ ]:
print(type(tuple2))

<class 'tuple'>

In [ ]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

python functions

In [ ]:
#A function is a block of code which only runs when it is called.

#You can pass data, known as parameters, into a function.In Python a function is defined using the def keyword:
#arguments:
#Information can be passed into functions as arguments.

#Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [ ]:
my_function()

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Referenses")

my_function("Email")
my_function("whatsapp")
my_function("facebook")

Email Referenses
whatsapp Referenses
facebook Referenses

In [ ]:
def my_function(fname,name):
  print(fname,name + " Referenses")
my_function("email","whatsapp")

email whatsapp Referenses

Arbitrary arguments:
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobia","elias")

The youngest child is Tobia

In [ ]:
#keyword arguments
#Arbitrary Keyword Arguments, **kwargs
#If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(**child):
  print("the youngest child is" +child["child3"])
my_function(child1 = "Emil", child2 = "Tobias", child3 = " Linus")

the youngest child is Linus

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
#loop tasks
#write a program to find factorial of a number
a=int(input('enter a number'))
factorial=1
while(a):
  factorial=factorial*a
  a=a-1
print(factorial)

enter a number6
720

In [ ]:
#2 program to reverse a word
a="jumana"
for i in reversed(a):
  print(i,end=" ")
print()

a n a m u j

In [ ]:
#3 program to reverse a number
a=int(input('enter a number'))
r=0
while a!=0:
  b=a%10
  r=r*10+b
  a//=10
print(r)

enter a number456
654

In [ ]:
#4 appends square of each number to a list
b=[]
for i in (1,5):
  b.append(i**2)
print(b)

[1, 25]

In [ ]:
#5
a=[1,2,3,4]
for i in a:
 if i%2==0:
  print("even number ",i)
 else:
  print("odd number ",i)

odd number  1
even number  2
odd number  3
even number  4

In [ ]:
#1 Define a function that accepts 2 values and return its sum,subtraction and multiplication.
def my_function(sum,subtraction,multiplication):
  print(" result is ",sum)
my_function(sum="value1+valu2",subtraction="value1-valu2", multiplication="value1*value2")

 result is  value1+valu2

In [ ]:
#2. Define a function which counts vowels and consonant in a word.

In [ ]:
#3 Define a function that accepts lowercase words and returns uppercase words.

In [ ]:
# function to sum numbers
list=[1,2,3,4]

# sum=0
# for i in list:
#   sum=sum+1
# print(sum)

In [ ]:
def sum(list):
  s=0
  for i in list:
    s=s+i
  return s

In [ ]:
list=[2,3,4,5]
b=sum(list)
print("result is ",sum(list))

result is  14

In [ ]:
#write a python function to find the max number
def maximum(n):
  result=max(n)
  return result

In [ ]:
num=[1,2,3,4,5]
print(" msximum is ",maximum(num))

AttributeError: ignored

In [ ]:
#python funtion to find factorial of a number
def f(a):
  f=1
  for i in range(1,a+1):
    f=f*i
  return f

In [ ]:
print("factorial of a number ",f(5))

factorial of a number  120

In [ ]:
def fa(a):
  f=1
  i=1
  if a==0 or a<0:
    print("enter apositive number")
  else:
    while i<=a:
      f=f*i
      i+=1
    return f

In [ ]:
c=fa(5)
print("factorial is ",c)

factorial is  3125

In [ ]:
a="afeefa"
b=""
for i in a:
  b=i+b 
if(b==a):
 print("pallindrome ")
else:
  print("not pallindrome")

pallindrome

In [ ]:
def pal(string):
 b=""
 for i in string:
   b=i+b 
 if(b==a):
  print("pallindrome ")
 else:
  print("not pallindrome")

In [ ]:
c="afeefa"
pal(c)

pallindrome

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
for i in list:
  if i%2==0:
    print(i,end=" ")

2 4 6 8

In [ ]:
def even(list):
  for i in list:
    if i%2==0:
      print(i,end=" ")

In [ ]:
b=[33,44,55]
even(a)

2 44

In [ ]:
mylistist=[1,2,33,44]
even=list(filter(lambda x:(x%2==0),mylist()))

NameError: ignored

In [ ]:

def squareof(num):
  c=[]
  for i in range(1,11):
    c.append(i**2)
  print("squares are ",c)

In [ ]:
squareof(1)

squares are  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]