In [ ]:
c=[]
for i in range(1,11):
  c.append(i**2)
print("squares are",c)

squares are [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def sq(num):
  c=[]
  for i in range(1,11):
    c.append(i**2)
  print("squares are ",c)
sq(a)

squares are  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq(1)

squares are  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
mylist=[1,2,22,33]
even=list(filter(lambda x:(x%2==0),mylist))
print(even)

[2, 22]

function continues

In [ ]:
#passing list as an argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:

fruits = ["apple", "banana", "cherry"]
def my_function(food):
  for x in food:
    print(x)

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 / x

print(my_function(3))
print(my_function(5))
print(my_function(9))

1.6666666666666667
1.0
0.5555555555555556

In [ ]:

def my_function(x,y,z):
  return 5 + x+y+z
print(my_function(3,5,9))

22

In [ ]:
#returns only first one
def my_function(x,y,z):
  return 5 + x
  return 5+y
  return 5+z
print(my_function(3,5,9))

10

In [ ]:
def sample():
  print("hi")
  print("hello")
sample()
#builtin function

hi
hello

In [ ]:
#chech whether prime or not using python function
def prime(num):
  for i in range(2,num):
    if (num%i==0):
      print("non prime")
    else:
      print("prime")
    return
prime(50)
prime(47)
prime(88)
prime(123)

non prime
prime
non prime
prime

In [ ]:
def prime(num):
  for i in range(2,num):
    if (num%i==0):
      print("non prime")
      break
    else:
      print("prime")
      break
a=int(input("enter a number"))
prime(a)

enter a number67
prime

In [ ]:
#convert degree celcius to farenheit
def convert(NUM):
  F=(9/5*NUM)+32
  print("farenheit value is" ,F)

a=int(input("enter the value in celcius "))
convert(a)

enter the value in celcius 5
farenheit value is 41.0

In [ ]:
def convfah(c):
  f=(c * 9/5) + 32
  print("fahrenheit value",f)
a=int(input("enter value in celsius"))
x=convfah(a)

enter value in celsius5
fahrenheit value 41.0

In [ ]:
#check the given word is palllindrome or not
def pallindrome(string):
  b=string[::-1]
  if string==b:
    print("pallindrome")
  else:
    print("not pallindrome")
a=input("enter a string ")
pallindrome(a)

enter a string kivi
not pallindrome

In [ ]:
#print a program which accepts 2 numbers and return it sum subtraction and multiplication
def operations(x,y):
  return x+y,x-y,x*y
print(operations(3,4))

(7, -1, 12)

In [ ]:
#define a function which accepts radius and returns the area of a circle
def area(r):
  area=(22/7)*(r**2)
  print("area of cicle",area)
a=int(input("enter radius "))
area(a)

enter radius 7
area of cicle 154.0

In [ ]:
#python function to reverse a number

lamda function:
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x=lambda a, b : a * b
print(x(5, 6))

30

In [ ]:

x=lambda a,b,c:a+b+c
print(x(1,2,3))

6

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(3)

print(mydoubler(11))

33

In [ ]:
#example for inheritance
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:

#Write a Python function to find the Max of three numbers.
def maximum(x,y,z):
  if x>y and x>z:
    print("greater value is",x)#return x
  elif y>x and y>z:
    print("greater value is",y)#return y
  else:
    print("greater is",z)#return z
maximum(3,4,5)

greater is 5

In [ ]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(3, 6, -5))

6

In [ ]:
#Write a Python program to reverse a string.
def reverse(string):
    string = string[::-1]
    return string
  
  
print ("The original string  is : ",end="")
print (s)
  
print ("The reversed string is : ",end="")
print (reverse(s))

The original string  is : python
The reversed string is : nohtyp

In [ ]:
def reverse(string):
  return string[::-1]
a="myfunction"
print(reverse(a))

noitcnufym